
    <div class="row">
        <!--Nav Bar -->
        <nav class="col-xs-3 bs-docs-sidebar">
            <ul id="sidebar" class="nav nav-stacked fixed">
                <li class="{% if page.url == '/docs/home/'  %}active{% endif %}"><a href="/docs/home">Parallel</a></li>                
                {% for section in site.data.docs %}
                {% for item in section.docs %}
                {% assign item_url = item | prepend:"/docs/" | append:"/" %}
                {% assign p = site.docs | where:"url", item_url | first %}
                <li class="nested {% if item_url == page.url %}active{% endif %}"><a class="{% if item_url == page.url %}active{% endif %}" href="{{ p.url  | prepend: site.baseurl }}">{{ p.title }}</a>
                </li>
                    {% endfor %}
                    {%endfor%}
            </ul>
        </nav>
    </div>
