---
layout: default
---
<style>
        .group {
            background: yellow;
            width: 200px;
            height: 500px;
        }
        .group .subgroup {
            background: orange;
            width: 150px;
            height: 200px;
        }
        .fixed {
            position: fixed;
        }
        
        /* sidebar */
        .bs-docs-sidebar {
            padding-left: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
        /* all links */
        .bs-docs-sidebar .nav>li>a {
            color: #999;
            border-left: 2px solid transparent;
            padding: 4px 20px;
            font-size: 16px;
            font-weight: 400;
        }
        
        /* nested links */
        .bs-docs-sidebar .nav .nav>li>a {
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 30px;
            font-size: 12px;
        }
        
        /* active & hover links */
        .bs-docs-sidebar .nav>.active>a, 
        .bs-docs-sidebar .nav>li>a:hover, 
        .bs-docs-sidebar .nav>li>a:focus {
            color: #563d7c;                 
            text-decoration: none;          
            background-color: transparent;  
            border-left-color: #563d7c; 
        }
        /* all active links */
        .bs-docs-sidebar .nav>.active>a, 
        .bs-docs-sidebar .nav>.active:hover>a,
        .bs-docs-sidebar .nav>.active:focus>a {
            font-weight: 700;
        }
        /* nested active links */
        .bs-docs-sidebar .nav .nav>.active>a, 
        .bs-docs-sidebar .nav .nav>.active:hover>a,
        .bs-docs-sidebar .nav .nav>.active:focus>a {
            font-weight: 500;
        }
        
        /* hide inactive nested list */
        .bs-docs-sidebar .nav ul.nav {
            display: none;           
        }
        /* show active nested list */
        .bs-docs-sidebar .nav>.active>ul.nav {
            display: block;           
        }
        .nested {
            left: 20px;
        }
</style>

<div class="col-md-2 hidden-xs hidden-sm">
{% include sidebar.html %}
</div>

<div class="container">
    <div class="row">
            <div class="col-md-2 bs-docs-sidebar">
                <div class="hidden-lg hidden-md nav">
                        {% for section in site.data.docs %}
                        {% for item in section.docs %}
                        {% assign item_url = item | prepend:"/docs/" | append:"/" %}
                        {% assign p = site.docs | where:"url", item_url | first %}
                        <li class="{% if item_url == page.url %}active{% endif %}"><a class="{% if item_url == page.url %}active{% endif %}" href="{{ p.url  | prepend: site.baseurl }}">{{ p.title }}</a>
                        </li>
                            {% endfor %}
                            {%endfor%}
                </div>  
            </div>

        <div class="col-md-8">
            <h1>{{ page.title }}</h1>
            <div id="markdown-content-container">{{ content }}</div>
            <div style="clear:both;">
            </div>
            <hr>
            {% include section_nav.html %}
        </div>

    </div>
</div>
